h1.Ttulo1 {
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
}
h2.Ttulo2 {
    margin-top: 12pt;
    margin-bottom: 3pt;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}
h3.Ttulo3 {
    margin-top: 12pt;
    margin-bottom: 3pt;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
}
h4.Ttulo4 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
}
h5.Ttulo5 {
    margin-left: 0.70in;
    text-indent: -0.70in;
    margin-top: 12pt;
    margin-bottom: 3pt;
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: italic;
}
ul.List21 {
counter-reset: section211;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List4 {
counter-reset: section41;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
span.Ttulo3Car {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
}
span.Ttulo5Car {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-style: italic;
}
body {
    font-family: 'Times New Roman', 'serif';
}
ol.List13 > li > ol > li > ol > li > ol {
counter-reset: section134;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List13 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List13 > li > ol > li > ol > li > ol > li:before {
counter-increment: section134;
content:"."".""."counter(section134,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List13 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol {
counter-reset: section153;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li {
 position: relative;
}
ol.List15 > li > ol > li > ol > li:before {
counter-increment: section153;
content:".""."counter(section153,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List15 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List15 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List15 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol {
counter-reset: section154;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List15 > li > ol > li > ol > li > ol:before {
padding-left: 40px;
}
ol.List15 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List15 > li > ol > li > ol > li > ol > li:before {
counter-increment: section154;
content:".""."counter(section153,decimal)"."counter(section154,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List15 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List17 > li > ol > li > ol > li > ol {
counter-reset: section174;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List17 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List17 > li > ol > li > ol > li > ol > li:before {
counter-increment: section174;
content:"."".""."counter(section174,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List17 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List18 > li > ol > li > ol > li > ol {
counter-reset: section184;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List18 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List18 > li > ol > li > ol > li > ol > li:before {
counter-increment: section184;
content:"."".""."counter(section184,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List18 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List19 > li > ol > li > ol {
counter-reset: section193;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List19 > li > ol > li > ol > li {
 position: relative;
}
ol.List19 > li > ol > li > ol > li:before {
counter-increment: section193;
content:".""."counter(section193,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List19 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List19 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List19 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List19 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List19 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List19 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List2 > li > ol > li > ol {
counter-reset: section23;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List2 > li > ol > li > ol > li {
 position: relative;
}
ol.List2 > li > ol > li > ol > li:before {
counter-increment: section23;
content:".""."counter(section23,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List2 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List2 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List2 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List2 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List2 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List2 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List22 > li > ol > li > ol {
counter-reset: section223;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List22 > li > ol > li > ol > li {
 position: relative;
}
ol.List22 > li > ol > li > ol > li:before {
counter-increment: section223;
content:".""."counter(section223,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List22 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List22 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List22 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List22 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List22 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List22 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol {
counter-reset: section243;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li {
 position: relative;
}
ol.List24 > li > ol > li > ol > li:before {
counter-increment: section243;
content:".""."counter(section243,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List24 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List24 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List24 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol {
counter-reset: section244;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List24 > li > ol > li > ol > li > ol:before {
padding-left: 40px;
}
ol.List24 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List24 > li > ol > li > ol > li > ol > li:before {
counter-increment: section244;
content:".""."counter(section243,decimal)"."counter(section244,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List24 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol {
counter-reset: section252;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List25 > li > ol > li {
 position: relative;
}
ol.List25 > li > ol > li:before {
counter-increment: section252;
content:"."counter(section252,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List25 > li > ol > li:before:before {
width: 40px;
}
ol.List25 > li > ol > li:before:before {
margin-right: 4px;
}
ol.List25 > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol {
counter-reset: section254;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List25 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List25 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List25 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List25 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List25 > li > ol > li > ol > li > ol:before {
padding-left: 40px;
}
ol.List25 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List25 > li > ol > li > ol > li > ol > li:before {
counter-increment: section254;
content:"."counter(section252,decimal)".""."counter(section254,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List25 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List26 > li > ol > li > ol {
counter-reset: section263;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List26 > li > ol > li > ol > li {
 position: relative;
}
ol.List26 > li > ol > li > ol > li:before {
counter-increment: section263;
content:".""."counter(section263,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List26 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List26 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List26 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List26 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List26 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List26 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List4 > li {
 position: relative;
}
ol.List4 > li:before {
counter-increment: section41;
content:counter(section41,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List4 > li:before:before {
width: 40px;
}
ol.List4 > li:before:before {
margin-right: 4px;
}
ol.List4 > li:before:before {
left: -44px;
}
ol.List4 > li:before:before {
left: -44px;
}
ol.List4 > li:before:before {
left: -44px;
}
ol.List4 > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol {
counter-reset: section73;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li {
 position: relative;
}
ol.List7 > li > ol > li > ol > li:before {
counter-increment: section73;
content:".""."counter(section73,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List7 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List7 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List7 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol {
counter-reset: section74;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li > ol:before {
margin-left: 0px;
}
ol.List7 > li > ol > li > ol > li > ol:before {
padding-left: 40px;
}
ol.List7 > li > ol > li > ol > li > ol > li {
 position: relative;
}
ol.List7 > li > ol > li > ol > li > ol > li:before {
counter-increment: section74;
content:".""."counter(section73,decimal)"."counter(section74,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List7 > li > ol > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List8 > li > ol > li > ol {
counter-reset: section83;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ol.List8 > li > ol > li > ol > li {
 position: relative;
}
ol.List8 > li > ol > li > ol > li:before {
counter-increment: section83;
content:".""."counter(section83,decimal);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
}
ol.List8 > li > ol > li > ol > li:before:before {
width: 40px;
}
ol.List8 > li > ol > li > ol > li:before:before {
margin-right: 4px;
}
ol.List8 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List8 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List8 > li > ol > li > ol > li:before:before {
left: -44px;
}
ol.List8 > li > ol > li > ol > li:before:before {
left: -44px;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
ul.List21 > li {
 position: relative;
}
ul.List21 > li:before {
counter-increment: section211;
content:"";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Wingdings;
}
ul.List21 > li:before:before {
width: 40px;
}
ul.List21 > li:before:before {
margin-right: 4px;
}
ul.List21 > li:before:before {
left: -44px;
}
ul.List21 > li:before:before {
left: -44px;
}
ul.List21 > li:before:before {
left: -44px;
}
ul.List21 > li:before:before {
left: -44px;
}